.modal-header .close {
    padding: 0;

    margin: 0;
}

.modal-dialog {
    margin: 0 !important;
}

.modal-header .close {
    padding: 0rem !important;

    margin: 0 !important;
}

button:focus {
    outline: none;
}

.filter-bt {
    background: transparent;

    border: none;
}

.mobile-bottom-nav {
    position: fixed;

    bottom: 0;

    left: 0;

    right: 0;

    z-index: 1000;

    will-change: transform;

    transform: translateZ(0);

    display: flex;

    height: 50px;

    box-shadow: 0 -2px 5px -2px #333;

    background-color: #fff;

    margin-bottom: 10px;
}

.mobile-bottom-nav__item {
    flex-grow: 1;

    text-align: center;

    font-size: 12px;

    display: flex;

    flex-direction: column;

    justify-content: center;

    border: 1px solid #cecdcd;
}

.mobile-bottom-nav__item--active {
    color: red;
}

.mobile-bottom-nav__item-content {
    display: flex;

    flex-direction: column;
}

.modal-dialog {
    position: fixed;

    bottom: 0;

    left: 0%;

    right: 0%;

    transform: translate(-50%, -50%);
}

.c-1xlacyw {
    display: flex;

    margin-bottom: 20px;
}

.c-pwjat4 {
    margin-right: 10px;
}

.container {
    width: 95%;

    /* max-width: max-content; */

    padding: 0;
}

.modal {
    position: fixed;

    top: auto !important;

    right: auto !important;

    left: auto !important;

    bottom: 0 !important;

    z-index: 1050;

    outline: 0;

    width: 100%;
}

button:focus {
    outline: none !important;
}

.c-78mvka {
    font-size: 13px !important;
}

.c-r37xpo {
    padding: 16px 0px;
}

.c-tjpp8s {
    color: rgb(33, 33, 33);

    font-weight: bold;

    font-size: 16px;

    line-height: 24px;

    width: 100%;

    display: flex;
}

.c-2i8otg {
    width: calc(100% - 24px);
}

.c-1wlwv29 {
    text-align: right;

    width: 24px;

    border-color: rgba(0, 0, 0, 0.3);

    color: rgba(0, 0, 0, 0.3);
}

.c-1wlwv29 svg {
    fill: rgba(255, 255, 255, 0.3);
}

.c-pbc3ib svg {
    stroke: rgb(33, 33, 33);

    width: 20px;

    height: 22px;
}

.c-j4ddf8 {
    display: flex;

    font-weight: 500;

    font-size: 16px;

    line-height: 24px;

    color: rgb(33, 33, 33);

    padding-top: 20px;
}

.c-mbh36o {
    display: flex;

    -webkit-box-flex: 1;

    flex-grow: 1;

    -webkit-box-align: center;

    align-items: center;

    vertical-align: middle;
}

.c-1n2mv2k {
    display: flex;

    -webkit-box-pack: center;

    justify-content: center;

    -webkit-box-align: center;

    align-items: center;
}

.c-2aic5w {
    display: flex;

    -webkit-box-pack: center;

    justify-content: center;

    -webkit-box-align: center;

    align-items: center;

    width: 24px;

    height: 24px;
}

.c-2aic5w svg {
    width: 14px;

    height: 14px;

    fill: rgb(34, 152, 218);
}

.c-4mc9w5 {
    display: flex;

    -webkit-box-pack: center;

    justify-content: center;

    -webkit-box-align: center;

    align-items: center;

    width: 24px;

    height: 24px;

    padding: 0px 24px;
}

.c-10x1sqe {
    display: flex;

    padding: 16px 0px;

    width: 100%;

    -webkit-box-pack: justify;

    justify-content: space-between;

    margin-bottom: 50px;
}

.c-2grro3 {
    display: flex;

    -webkit-box-pack: center;

    justify-content: center;

    -webkit-box-align: center;

    align-items: center;

    font-weight: 600;

    font-size: 14px;

    line-height: 24px;

    background: rgb(255, 255, 255);

    border: 1px solid rgba(34, 152, 218, 0.2);

    box-sizing: border-box;

    border-radius: 6px;

    padding: 8px;

    color: rgb(34, 152, 218);

    width: 100%;
}

.c-tzxbu0 {
    display: flex;

    margin-right: 14px;
}

.c-2grro3 svg {
    display: flex;

    -webkit-box-pack: center;

    justify-content: center;

    -webkit-box-align: center;

    align-items: center;

    width: 14px;

    height: 24px;

    fill: rgb(34, 152, 218);
}

.c-gxvgb {
    display: flex;

    padding: 16px;

    background: rgb(255, 255, 255);

    box-sizing: border-box;

    position: fixed;

    bottom: 0px;

    width: 90%;

    z-index: 15;
}

.c-jac2vq {
    text-align: center;

    font-weight: 600;

    font-size: 14px;

    line-height: 24px;

    background: rgb(34, 152, 218);

    border-radius: 6px;

    border: 0px;

    color: rgb(255, 255, 255);

    padding: 8px 0px;

    width: 100%;
}

/* mobile */

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .banner__cardImageContainer {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        gap: 5px;
    }
    .web-sort {
        display: none;
    }

    .fXtuEB {
        width: 16.5rem !important;
    }

    .hYvijQ {
        /* display: block; */
    }

    .kkmhtq {
        /* padding-top: 13.5rem; */
    }

    .kOpxsp {
        /* display: block; */

        width: 100%;
    }

    .slick-slide {
        width: 300px !important;
    }

    .Head {
        display: none;
    }

    .LoginLeftBanner {
        display: none;
    }

    /* iphone*/

    .listing__topSection > section.listing__content {
        width: 100%;
    }

    @media screen and (max-width: 767px) {
        .gOLvTW {
            width: 100%;
        }

        .c-8xhyrj {
            position: relative;
            height: 60vh;
            margin-top: 20px;
        }

        .kkmhtq {
            margin-left: 6px !important;
            width: 97%;
        }
    }

    /* Web */

    @media only screen and (min-width: 992px){ .mobile-bottom-nav {
        display: none;
    }
}
.slick-slide {
    width: 100%;
}

.Head {
    display: block;
}
.listp {
    text-decoration: none;
    border: 1px solid #8aa6c4;
    padding: 15px;
    border-radius: 5px;
}
.footerAppIcons {
    background-color: #00405a !important;
}
.footerSocial {
    background-color: #00405a !important;
}
.footerAppIcons__secondryLinksContainer a {
    color: #fff !important;
    font-size: 16px !important;
}
.newsl {
    margin-left: 2% !important;
}
#newsletter_to {
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0px;
}
#newsletter_button_footer {
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 4px;
}
.c-u65gu2 {
    background: #fbb316;
}
.c-u65gu2 a {
    color: #fff;
    text-decoration: none;
}
